*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Signika', sans-serif;
}

header{
    background-color: black;
    color: white;
    width: 200px;
    height: calc(100vh - 80px);
    overflow: hidden;
}

main {
    background-color: #141922;
    color: white;
    width: calc(100% - 200px);
    height: calc(100vh - 80px);
    overflow-y: scroll;
}


footer{
    width: 100%;
    height: 80px;
    background-color: #282828;
    color: white;
    position: relative;
    z-index: 3;
    padding: 0 1rem;
    overflow-x: hidden;
}
i,
li,
.sound-box,
.time-box,
img,
h5{
    cursor: pointer;
}

.flex {
    display: flex;
}

.flex-center{
    display: flex;
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

.flex-col-btw{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-row-btw{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-col-center{
        display: flex;
        flex-direction: column;
        justify-content: center;

}


/* ____________________ */



.header-section{
    padding: 1rem 1rem 0 1rem; 
}

#logo-img{
    width: 80%;
    padding-top: .5rem;
    padding-bottom: 2rem;
}

#logo-img-s{
    display: none;
}    

.home-nav,
.search-nav,
.library-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    padding-bottom: .75rem;
}


.search-nav,
.library-nav,
.add-playlist,
.install-app{
    color: #7D7F83;
    font-weight: bold;
}

.add-playlist{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;    
}

.add-playlist p{
    font-size: 1.1rem;
}


div.bottom-header{ 
    padding: 1rem;
}

#divider  hr{
    margin: .5rem 0;
}

.icon-header-section{
    width: 17%;
    margin-right: .25rem;
}

.account{
    align-items: center;
    font-weight: bold;
}

#icon-profile{
    width: 15%;
    margin-right: .5rem;
    background-color: #7D7F83;
    border-radius: 50%;
    padding: 0 .1rem;

}

#icon-install-app{
    width: 10%;
    margin-right: .5rem;
}

.playlist-nav{
    padding-top: 1.5rem;
}

.add-playlist{
    padding: 1rem 0;
}

.fa-plus {
    color: black;
    background-color: #7D7F83;
    padding: .6rem;
    font-size: 30px;
    margin-right: .5rem;
}



div.profile{
    background-color: #080b12;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    width: calc(100% - 200px);
    z-index: 2;
}

#upgrade{
    background-color: #080b12;
    color: white;
    border-color: white;
    border-radius: 50px;
    padding: .75rem 2.5rem;
    text-transform: uppercase;
    margin-right: 2rem;
    border-style: solid;
    
}

#upgrade:hover{
    transform: scale(1.1);
}

.nav-bar{
    padding: 117px 1rem 0 1rem;

}

ul.ul-nav-bar{
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    line-height: 3;
}

ul.ul-playlist-list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    line-height: 2.5;
    
}


ul.ul-playlist-list li{
    color: #7D7F83;
    font-weight: 600;
}

ul.ul-nav-bar li{
    color: #7D7F83;
    text-transform: uppercase;
    padding-right: 2rem;
    font-size: .9rem;
    font-weight: 600;

}

ul li:hover,
.home-nav:hover,
.search-nav:hover,
.library-nav:hover,
.add-playlist:hover,
.install-app:hover,
.fa-heart:hover,
.fa-folder:hover{
    color: white;
}

.fa-plus:hover{
    background-color: white;
}

.album-name p:hover{
    color: white;
    text-decoration: underline;
}

.player-button .fa-circle-play:hover{
    transform: scale(1.2);
}

.album-cards{
    max-width: 1900px;
    padding: 1rem;
    
}

.album-card img{
    width: 100%;
    max-width: 250px;
    max-height: 250px;
}

.overlay-album{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% - 0.3rem);
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 0, 0, 0.593);
    max-width: 250px;
    max-height: 250px;
    margin: 0 auto;
}

.overlay-album-round{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% - 0.3rem);
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 0, 0, 0.593);
    border-radius: 50%;
    max-width: 250px;
    max-height: 250px;
    margin: 0 auto; 
}

.album-img{
    position: relative;
}

.album-card:hover .overlay-album,
.album-card:hover .overlay-album-round
{
    opacity: 1;
}



.hover-play{  
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* .album-card:hover img::before{
    
} */

.album-card {
    width: calc(100% / 6);
    padding: 1rem .4rem 1rem .4rem;
    text-align: center;

}

figure#round img{
    border-radius: 50%;
}

.main-h1{
    padding-left: 1.4rem;
    padding-top: 2rem;
}

.album-title{
    font-size: 1.2rem;
}

.singer,
.main-p{
    font-size: .8rem;
    color: #7D7F83 ;
    font-weight: 600;
    padding-top: .5rem;
}

.album-info{
    width: 50px;
    margin-right: .7rem;
}

.album-info img{
    width: 100%;
}

.album-name p{
    color: #7D7F83;
    font-size: .7rem;
    font-weight: bold;
   
}

.favourites i{
    padding: 0 .5rem;
    color: #7D7F83;
}

.favourites i:first-child{
    padding-left: 2rem;
}

.sound-option{
    margin-left: .5rem;
}

.sound-option>i,
.sound-box i:first-child{
    padding: 0 .5rem;
}

.player{
    align-items: center;
}

.player-button{
    margin-bottom: .75rem;
}

.player-button i{
    padding: 0 .5rem;
}

.player-button i:nth-child(3){
    font-size: 1.65rem;
}

.sound-box{
    width: 10vw;
}

.sound-bar{
    background-color: #7D7F83;
    height: 5px;
    width: 70%;
}

.sound-bar-white{
    background-color: white;
    height: 5px;
    width: 35%;
}



.time-container{
   width: 15vw;
}

.time-bar{
    background-color: #7D7F83;
    height: 5px;
    width: 300px;
    width: 65%;
}

.time-bar-white{
    background-color: white;
    height: 5px;
    width: 35%;
}


#hover-dot{
    display: none;
}

.time-box:hover #hover-dot,
.sound-box:hover #hover-dot {
    display: flex;
    margin-top: -5px;
    margin-bottom: -5px;
}

.time-box:hover .time-bar-white,
.sound-box:hover .sound-bar-white{
    background-color: #adff2f;
}


.time-box p{
    padding: 0 1.5rem;
    font-size: .7rem;
    font-weight: bold;
}


/* !RESPONSIVE MD */

@media screen and (max-width:768px) {
    
    .album-card {
        width: calc(100% / 4);
        max-width:none;
       
    }

    .album-cards{
        flex-wrap: wrap;
    }
}

/* !RESPONSIVE S */

@media screen and (max-width:576px) {
    
    .album-card {
        width: 50%;
        max-width:none;
       
    }

    .album-cards{
        flex-wrap: wrap;
    }

    .album-info{
        width: 40px;
        margin-right: .5rem;

    }
    
    .album-info img{
        width: 100%;
    }

    .favourites{
        flex-direction: column;
    }
    .favourites i{
        padding: 0 .5rem;
        color: #7D7F83;
    }
    
    .favourites i:first-child{
        padding-left: .5rem;
        padding-bottom: .5rem;
    }

    .sound-option {
        margin-left: 0;
      }

      div.sound-option >i,
      .sound-box i:first-child{
        padding: 0 .25rem;
    }
}

@media screen and (max-width:490px) {
    
    header{
        width: 55px;
    }

    main {
        width: calc(100% - 55px);
    }

    div.profile{
        width: calc(100% - 55px);
    }

    #logo-img,
    .home-nav p,
    .search-nav p,
    .library-nav p,
    .install-app p,
    #divider hr,
    .account p{
        display: none;
    }    

    #logo-img-s{
        display: inline;
        margin-bottom: 1rem;
    }  


    .icon-header-section,
    #icon-install-app,
    #icon-profile{
        width: 100%;
        margin-right: 0;
        
    }

    #icon-install-app{
        margin-left: -2px;
        margin-bottom: 1rem;
    }



    .playlist-nav{
        display: none;
    }


    .album-card {
        width: 50%;
        max-width:none;
       
    }

    .album-cards{
        flex-wrap: wrap;
    }

    footer{
        padding: 0 .5rem;
    }

}