*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Signika', sans-serif;
}

header{
    background-color: black;
    color: white;
    width: 200px;
    height: calc(100vh - 100px);
}

main {
    background-color: #141922;
    color: white;
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
    overflow-y: scroll;
}


footer{
    width: 100%;
    height: 100px;
    background-color: #282828;
}

.flex {
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}



/* ____________________ */


div.profile{
    background-color: #080b12;
    height: 100px;
}

.album-cards{
    padding: 1rem;
}

.album-card img{
    width: 100%;
    max-width: 250px;
    max-height: 250px;
}

.album-card {
    width: 18%;
    max-width: 18%;
    padding: 1rem .4rem 1rem .4rem;

}


/* !RESPONSIVE MD */

@media screen and (max-width:768px) {
    
    .album-card {
        width: 25%;
        max-width:none;
       
    }

    .album-cards{
        flex-wrap: wrap;
    }
}

/* !RESPONSIVE S */

@media screen and (max-width:576px) {
    
    .album-card {
        width: 50%;
        max-width:none;
       
    }

    .album-cards{
        flex-wrap: wrap;
    }
}

@media screen and (max-width:576px) {
    
    .album-card {
        width: 50%;
        max-width:none;
       
    }

    .album-cards{
        flex-wrap: wrap;
    }
}