*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Signika', sans-serif;
}

header{
    background-color: black;
    color: white;
    width: 200px;
    height: 100vh;
}

main {
    background-color: #141922;
    color: white;
    width: calc(100% - 200px);
}

footer{
    height: 100px;
    background-color: #282828;
}

.flex {
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}